<div class="px-6">
  <a
    href="/"
    class="shadow-lg shadow-amber-300/50 px-6 inline-flex items-center text-black bg-amber-200 hover:bg-amber-400 focus:ring-4 focus:ring-green-300 font-extrabold rounded-lg text-4xl px-5 py-2.5 mr-2 mb-2 tech-blog-button"
  >The Tech Blog</a>
</div>

{{! Form for loggin in  }}
<div class="mx-auto py-8">
  <div class="w-full md:w-1/2 mx-auto align-center">
    <h2
      class="text-2xl font-semibold border-solid border-2 border-slate-400 p-2 text-teal-50 bg-slate-400"
    >User Login</h2>

    <form class="w-full login-form border-solid border-2 border-slate-400 p-2">
      <div class="mb-4">
        <label
          for="username-login"
          class="block text-gray-700"
        >Username:</label>
        <input
          type="text"
          id="username-login"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4">
        <label
          for="password-login"
          class="block text-gray-700"
        >Password:</label>
        <input
          type="password"
          id="password-login"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>

      <div class="mb-4">
        {{! Button to login  }}
        <button
          type="submit"
          class="w-full h-12 px-6 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800 login-button"
        >
          Login
        </button>
      </div>

    </form>
    <div class="">
      {{! Button to sign up  }}
      <a
        href="/signup"
        class="px-6 inline-flex items-center text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Sign Up</a>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>